---
http_interactions:
- request:
    method: get
    uri: https://api.gumroad.com/v2/products/YYOJtRpx6JzMljfZrf7ADQ==?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Revision:
      - f8624244ca43
      X-Gr:
      - PROD
      Etag:
      - W/"b7f19f8d1fff935c32b49390bc88c7d7"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"product":{"name":"Test Product 1","preview_url":null,"description":"\u003cp\u003eTest
        Product 1 Content\u003c/p\u003e","customizable_price":false,"require_shipping":false,"custom_receipt":"","custom_permalink":null,"subscription_duration":null,"id":"YYOJtRpx6JzMljfZrf7ADQ==","url":null,"price":500,"currency":"usd","short_url":"https://mbeydogan.gumroad.com/l/ntnit","thumbnail_url":null,"tags":[],"formatted_price":"$7","published":false,"file_info":{},"max_purchase_count":null,"deleted":false,"custom_fields":[],"custom_summary":"The
        amazing product","is_tiered_membership":false,"recurrences":null,"variants":[{"title":"","options":[{"name":"Test
        Product 1-A","price_difference":200,"is_pay_what_you_want":false,"recurrence_prices":null,"url":null},{"name":"Test
        Product 1-B","price_difference":300,"is_pay_what_you_want":false,"recurrence_prices":null,"url":null}]}],"custom_delivery_url":null,"sales_count":0,"sales_usd_cents":0.0}}'
  recorded_at: Wed, 21 Feb 2024 12:23:06 GMT
recorded_with: VCR 6.2.0
